<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Library seat booking system</title>
    <!-- Base Styling  -->
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/style2.css">
</head>

<body>
    <div id="main-wrapper" class="show">

        <!-- start logo components -->
        <div class="nav-header">
          <div class="brand-logo">
            <a href=""> <img class="brand-logo" src="/static/images/hkustlogo.jpg" alt=""></a>
          </div>
        </div>
        <!-- End logo components -->

        <!-- start section sidebar -->
        <aside class="left-panel nicescroll-box">
            <nav class="navigation">
                <ul class="list-unstyled main-menu">

                    <li class="has-submenu">
                        <a href="/admin/adminPage">
                            <span class="nav-label">Search record</span>
                        </a>
                    </li>

                    <li class="has-submenu">
                        <a href="/admin/studentOverview">
                            <span class="nav-label">Manage student</span>
                        </a>
                    </li>
                    
                    <li class="has-submenu active">
                        <a href="/admin/updateBlacklist">
                            <span class="nav-label">Update blacklist</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </aside>
        <!-- End section sidebar -->

        <!-- start section header -->
        <div class="header">
            <header class="top-head container-fluid">
                <div class="nav-control">
                </div>

                <div class="header-right">
                    <div class="my-account-wrapper">
                        <div class="account-wrapper">
                            <div class="account-control">
                                <a class="login header-profile" href="#" title="Sign in">
                                    <div class="header-info">
                                        <span>Hi, {{ name }}</span>
                                        <small>Admin</small>
                                    </div>
                                </a>
                                <div class="account-dropdown-form dropdown-container">
                                    <div class="form-content">
                                        <a href="/admin/login">
                                            <span class="ml-2">Logout </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!-- End section header -->



        <!-- start section content -->
        <div class="content-body">
            <div class="warper container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-lg-12 p-md-0">
                        <h4 class="text-primary">Hi, <span class="names">{{ name }}</span></h4>
                        <p class="mb-0">Library seat booking system</p>
                    </div>
                </div>
                <div class="new-patients main_container">


                    <div class="row">
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-header">
                                    <h4 class="card-title">Blacklist</h4>
                                    <form method="POST">
                                        <label>Search student: <input type="search" class="" placeholder="Student ID" name="stuID" id="stuID" aria-controls="example1"></label>
                                        <button type="submit" class="badge badge-success">Search</button>
                                    </form>
                                </div>
                                <div class="card-body">
                                    <table class="dataTable no-footer" role="grid" aria-describedby="example1_info">

                                         <thead>
                                                <tr>
                                                    <th>Student ID</th>
                                                    <th>Student name</th>
                                                    <th>Action</th>
                                                </tr>
                                        </thead>
                                        {% if visible == 1 %}
                                        {% for each in infoList %}
                                        <tr>
                                            <td>{{ each[0] }}</td>
                                            <td>{{ each[1] }}</td>
                                            <td>                
                                                <button type="button" class="badge badge-danger" onclick="window.location.href='/admin/removeBlacklist/{{ each[0] }}'">Remove</button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}

                                        {% if visible == 0 and msg == "" %}
                                        <tr>
                                            <td>{{ infoList[0] }}</td>
                                            <td>{{ infoList[1] }}</td>
                                            <td>                
                                                <button type="button" class="badge badge-danger" onclick="window.location.href='/admin/removeBlacklist/{{ infoList[0] }}'">Remove</button>
                                            </td>
                                        </tr>
                                        {% endif %}

                                    </table>
                                </div>
                                {% if msg %}
                                    <div class="card-body">
                                        <p>{{ msg }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End section content -->




    </div>


    <!-- JQuery v3.5.1 -->
    <script src="/static/js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="/static/js/popper.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/js/bootstrap.js"></script>

    <!-- Moment -->
    <script src="/static/js/moment.min.js"></script>

    <!-- Date Range Picker -->
    <script src="/static/js/daterangepicker.min.js"></script>

    <!-- Datatable -->
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/init-tdatatable.js"></script>

    <!-- Chart js -->
    <script src="/static/js/Chart.min.js"></script>
    <script src="/static/js/charts-custom.js"></script>

    <!-- Main Custom JQuery -->
    <script src="/static/js/toggleFullScreen.js"></script>
    <script src="/static/js/main.js"></script>

</body>

</html>